html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position:fixed;
  top:0px;
  z-index:-1;
}

div.titulo {

 
  font-family:Calligraffiti , cursive;
  color: white;
  font-size: 50px;

  top:50px;
  left:500px;
   text-align: center;
  
}

.botones-vinculo{
  display: block;
  background-color:white;
  margin: 10px;
  font-size:60px;
 
  font-family:Calligraffiti , cursive;
   text-align: center;
  margin:auto;
}


#nombre {
  
  color: white;
  font-size: 90px;
 
  top: 150px;
  left:300px;
  font-family:Calligraffiti , cursive;
   text-align: center;
}
